
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:NBVTp9KSlj+b6daMN3acB2qzUQw7Q1WcxfiIWa9bzVk=
APP_DEBUG=false
APP_ENV_MODE=development
APP_URL=http://157.245.97.46/q1-2023/propsoft-backend/public
CLIENT_APP_URL=http://157.245.97.46:3000
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE= 
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=apexcapitalmgt.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=5VJsZVGCcZ8BVAZBvJfsNbzpY2R4i9VFVmgO4Ckp9LqfUSSgEWgfPHM82FfkQ0ZN

JWT_TTL=900000
JWT_REFRESH_TTL=900000



FFMPEG_BINARIES=/usr/bin/ffmpeg
FFPROBE_BINARIES=/usr/bin/ffprobe

FIREBASE_CREDENTIALS=/storage/app/firebase/propsoft-36752-firebase-adminsdk-5kea2-ef8d975f43.json
FIREBASE_DATABASE_URL=https://propsoft-36752-default-rtdb.firebaseio.com

DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_REGION="nyc3"
DO_SPACES_BUCKET="propsoft-demo"
DO_SPACES_ENDPOINT="https://propsoft-demo.nyc3.digitaloceanspaces.com"
